.users {

  padding: 20px;

}

.userCardSize {
  flex: 0 1 20%;
  padding: 0 5px;
  margin-bottom: 1rem;
  @media (max-width: 992px) {
    flex: 0 1 25%
  }
  @media (max-width: 767px) {
    flex: 0 1 33.3%
  }
  @media (max-width: 600px) {
    flex: 0 1 50%
  }
  @media (max-width: 480px) {
    flex: 0 1 100%
  }
}

.userCard {
  box-shadow: 0 0 2px 1px #A3DAA5;
  text-align: center;
  padding: 5px;

}



.usersItem {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.avatar {
  width: 100px;
  height: 60px;
}

.avatar img {
  max-width: 100%;
  object-fit: cover;
}

.name {
  font-size: 1.1rem;
  font-weight: 500;
  color: #A3DAA5;

  text-transform: uppercase;
}

.id, .name, .avatar {
  margin-bottom: 0.5rem;

}

.btn {
  display: inline-flex;
  height: 30px;
  padding: 0 10px;
  text-align: center;
  color: #fff;
  background-color: #5783BE;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 10px;
  font-weight: 500;
  text-transform: uppercase;
}
