.posts {
  box-shadow: 0 0 4px #d2e5e8;
  padding: 15px;
  max-height: 610px;
  overflow: auto;
  scrollbar-width: thin;


  /* для Chrome/Edge/Safari */
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #d2e5e8;
  }

  &::-webkit-scrollbar-thumb {
    border: 3px solid #5783BE;
  }
}

.posts__title {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
}
