.dialogs {
  padding: 10px 0 0 20px;
  @media (max-width: 767px) {
    padding: 10px;
  }
}

.dialogs__row {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogs__column_b {
  border-left: 1px solid #ACCBEE;
  padding: 20px 30px;
  @media (max-width: 767px) {
    padding: 0 10px;
  }
}

.dialogs__list {
  padding-right: 10px;
}

.dialogs__item {
  margin-bottom: 15px;

}

.dialogs__item a {
  color: #497cc7;
  font-size: 1.1rem;
  font-weight: 600;
}


.messages__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.messages__avatar {
  flex: 0 0 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #d66d6d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  @media (max-width: 767px) {
    margin: 0 10px 10px 0;
    flex: 0 0 40px;
    height: 40px;
  }
  @media (max-width: 480px) {
    margin: 0  0 10px 0;

  }
}

.messages__message {
  padding: 10px;
  box-shadow: 0 0 3px 0 #d2e5e8;
  border-radius: 10px;
  flex: 0 1 320px;
}

