.textarea {
  border: 1px solid #5783BE;
  padding: 10px;
  width: 300px;
  height: 70px;
  margin-bottom: 10px;
  resize: none;
}

.btn {
  display: inline-flex;
  height: 40px;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  background-color: #5783BE;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 10px;

}