.textarea {
  border: 1px solid #5783BE;
  background-color:  #d2e5e8;;
  padding: 10px;
  max-width: 300px;
  width: 100%;
  height: 70px;
  margin-bottom: 10px;
  resize: none;
  @media (max-width: 767px) {
    height: 50px;
  }
}

.btn {
  display: inline-flex;
  height: 40px;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  background-color: #5783BE;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 10px;

}
